@font-face {
    font-family: 'netflixClone';
    src: url(fonts/netflixsans-light-webfont.woff);
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'netflixClone', system-ui, -apple-system, 'Segoe UI', Ubuntu, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #000000;
    color: #ffffff;
    min-width: 320px;
}
#heroSection{
    background-image: linear-gradient(0deg,rgba(0,0,0,1) 0,transparent 60%,rgba(0,0,0,1)), url(netflixbg.jpg);
    width: 100%;
    padding: 30px 56px;
}
#navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
#navbar img{
    width: 10%;
}
#navbar button{
    width: 8%;
    padding: 6px;
    font-size: 16px;
    color: #ffffff;
    background-color: #e50914;
    border-radius: 8px;
}
#hero{
    display: block;
    text-align: center;
    padding: 155px 0;
}
#hero h1{
    margin: 0 155px;
    font-weight: 500;
    font-size: 55px;
    color: rgb(255, 255, 255);
    padding: 0 150px;
    
}
#hero h2{
    font-size: 26px;
    font-weight: 400;
    margin: 16px 155px;
}
#hero h3{
    font-size: 20px;
    font-weight: 400;
    margin: 0 120px;
}
#call_to_action{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 100%;
}
#call_to_action input[type=email]{
    width: 24%;
    padding: 12px;
    font-size: 18px;
}
#call_to_action button {
    width: 15%;
    font-size: 18px;
    font-weight: 500;
    padding: 12px;
    color: white;
    border: 1px solid #e50914;
    background-color: #e50914;
}
 #arrow{
    margin-left: -30px;
    font-size: 20px;
}
#divider{
    border: 10px solid #222;
    background-color: rgba(0,0,0,0);
    border-bottom: #222;
}
.contentA{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#contentAtext{
    width: 35%;
}
#contentAtext h1{
    padding: 20px 0;
    font-size: 50px;
}
#contentAtext h2{
    font-size: 26px;
}
#contentAmedia{
    width: 45%;
    padding-left: 80px;
}
#contentAimage{
    width: 100%;
    position: relative;
}
#contentAvideo{
    position: absolute;
    z-index: 1;
    margin-left: -435px;
    margin-top: 84px;
    width: 26%;
}
.contentB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: -10px;
    padding-bottom: 70px;
}
#contentBtext{
    width: 45%;
    margin-right: 60px;
}
#contentBmedia{
    display: block;
    width: 55%;
}
#contentBimage{
    position: relative;
}
#contentBgif{
    position: absolute;
    background-color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -150px;
    margin-left: 120px;
    padding: 20px;
    border: 2px solid #222;
    border-radius: 12px;
    width: 30%;
    height: 20vh;
}
#gifText{
    margin-top: 25px;
    margin-left: -70px;
}
#gifText p{
    color: #0071eb;
}
#contentBtext h1{
    padding: 20px 0;
    font-size: 50px;
}
#contentBtext h2{
    font-size: 26px;
}
.contentC {
    margin: 0;
    padding: 60px;
    margin-left: 80px;
    width: 45%;
}
.contentC h1{
    font-size: 50px;
    padding-bottom: 20px;
}
.contentC h2{
    font-size: 26px;
}
.contentD{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 100%;
}
#contentDtext{
    width: 55%;
    padding: 0 110px;
}
#contentDtext h1{
    padding: 20px 0;
    font-size: 45px;
}
#contentDtext h2{
    font-size: 26px;
    margin-right: 40px;
}
#contentDimage{
    width: 45%;
}
.contentE{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60%;
    margin-top: 50px;
}
details{
    border: 1px solid #222;
    border-radius: 4px;
    padding: .2em 1em;
    width: 100%;
    margin-top: 30px;
    background-color: #222;
    font-size: 26px;
}
summary{
    margin: -.5em -.5em 0;
    padding: .5em;
    font-size: 26px;
}
details[open] {
    padding: 2em;
}
details > summary{
    
    list-style: none;
    cursor: pointer;
}
#watch{
    font-size: 18px;
    padding: 12px;
    margin-top: 40px;
    text-align: center;
}
.contentE h1{
    text-align: center;
    font-size: 50px;
}
#more1{
    margin-left: 530px;
    font-size: 45px;
    font-weight: 700;
}
#more2{
    margin-left: 375px;
    font-size: 45px;
    font-weight: 700;
}
#more3{
    margin-left: 484px;
    font-size: 45px;
    font-weight: 700;
}
#more4{
    margin-left: 513px;
    font-size: 45px;
    font-weight: 700;
}
#more5{
    margin-left: 380px;
    font-size: 45px;
    font-weight: 700;
}
#more6{
    margin-left: 430px;
    font-size: 45px;
    font-weight: 700;
}
#call_to_action2{
    display: flex;
    flex-direction: row;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 20px;
    
}
#call_to_action2 input[type=email]{
    width: 65%;
    padding: 12px;
    font-size: 18px;
}
#call_to_action2 button {
    width: 25%;
    font-size: 18px;
    padding: 12px;
    color: white;
    border: 1px solid #e50914;
    background-color: #e50914;
}
footer{
    display: flex;
    flex-direction: row;
    padding: 30px 150px;
    gap: 90px;
    line-height: 38px;
    font-size: 13px;
    color: #737373;
}
.foot{
    margin-top: 40px;
}

